# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual environments
.venv/
venv/
.env/
*_venv

# OS
.DS_Store
Thumbs.db
*.log

# Local cache and artifacts
cache/
*.xlsx
app.db

# IDE
.vscode/
.idea/ 

#Developer Guide and Development Log
DEVELOPER_GUIDE.md
DEVELOPMENT_LOG.md