/* FuckBerry - Глобальные стили */

/* Убираем подчеркивание у всех ссылок */
a {
  text-decoration: none !important;
}
h1 {
  font-size: 1.7rem !important;
}
.login-box{
      width:480px;
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 97% !important;
  }
}
.planning-table th {
  background-color: #3949ab !important;
}
.planning-table .totals-row th {
  top: 66px;
  border-top: none;
}
.kpi-detail {
  font-size: 14px;
  margin-bottom: 3px;
}
@media (max-width: 991.98px) {
  .d-lg-none .dropdown-menu {
      max-width: 100% !important;
  }
}
@media (max-width: 480px) {
  .login-box {
    width: 100%;
  }
}
/* Дополнительные глобальные стили можно добавить здесь */
